p {
    color: white;
    font-family: Raleway;
}

h2, h3{
    color: white;
    font-family: Raleway;
}

@keyframes bgcolor {

    0% {
        background-color: #45a3e5
    }
    25% {
        background-color: #66bf39
    }
    50% {
        background-color: #eb670f
    }
    75% {
        background-color: #f35
    }
    100% {
        background-color: #864cbf
    }
}

.header {
    display: flex;
    justify-content: space-between;
}

.join {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.join input {
    width: 15em;
    margin: 0.75em;
    border-radius: 10px;
}

.Aligner {
    margin-top: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Aligner-item {
    max-width: 50%;
}

.Aligner-item--top {
    align-self: flex-start;
}

.Aligner-item--bottom {
    align-self: flex-end;
}

.header-list {
    list-style-type: none;
    margin: 0.5em;
    padding: 0;
    overflow: hidden;
    background-color: #ff3355;
    border-radius: 15px;
}

body {
    animation: bgcolor 30s infinite;
    animation-direction: alternate;
}

#label {
    font-family: 'Raleway', sans-serif;
    color: white;
}

#host {
    color: white;
    text-decoration: none;
}

#host:hover {
    text-decoration: underline;
}

.button {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.30) 0 -1.25px 0;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: #0000FF;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.1em 0.75em;
    text-decoration: none;
    background: #ff3355;
}

li a:hover {
    background-color: indianred;
}

.active {
    background-color: indianred;
}

.brd {
    border-radius: 5px;
    padding: 40px;
    border: 4px inset black;
    width: 50%;
    margin: 19px auto auto;
}

.column-left {
    float: left;
}

.column-right {
    float: right;
}

#googleMap {
    width:100%;
    height:400px;
}

