<!DOCTYPE html>
<html>
<head>
	<title>QuestionMark</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>


<!-- Päis -->
<ul>
	<li><a th:href="@{/joingame}">Join Game</a></li>
	<li><a th:href="@{/hostgame}">Host Game</a></li>
	<li> <a th:href="@{/aboutus}">About Us</a></li>
</ul>



<!-- Sisu -->
	<main>
		<h3>Creators</h3>
	  	<p>
	  		Tarmo Kullas<br>
	  		Taavi Reisenbuk<br>
	  		Sergei Eensalu
	  	</p>
	</main>	


</body>
</html>