<!DOCTYPE html>
<html>
<head>
	<title>QuestionMark</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>

<!-- Päis -->
<div class="tab">
	<li><a th:href="@{/joingame}">Join Game</a></li>
	<li><a th:href="@{/hostgame}">Host Game</a></li>
	<li><a th:href="@{/aboutus}">About Us</a></li>
</div>


<!-- Sisu -->
	<main>
		<div">
	  		<h3>Game in progress</h3>
	  		<div class="login-row">

  				<div class="login-column">
  					<h4>Leaderboard (recalculated afeter every question)</h4>

  					<form>
						<select size="10">
  							<option value="#">%Player 1  2000%</option>
  							<option value="#">%Player 2  1000%</option>
  							<option value="#">%Player 3  -500%</option>
 	 						<option value="#">%Player 4  -1000%</option>
						</select>
					</form>

  				</div>

  	<!-- Register -->
  				<div class="login-column">
  					<p>Currently on Question</p>
  					<h4>2/3</h4>
  					<p>Time left</p>
  					<h3>0:17</h3>
  					<button><a href="conclusion_page.html">Next Question</a></button>
				</div>
			</div>
		</div>
	</main>	



</body>
</html>