<!DOCTYPE html>

<!--SEE HTML KLASS ON KÜSIMUSTE LOOMISE JAOKS (SIIA LEHELE SAAB AINULT SIIS KUI USER SISSE LOGITUD)-->


<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>QuestionMark</title>
    <meta charset="utf-8">
    <meta name="google-signin-client_id"
          content="98722277799-94rtimab9cvdu8e2lgam273bvkgtmq06.apps.googleusercontent.com">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>


<body>

<!-- Päis -->
<div class="header">
    <h2>QuestionMark</h2>
    <ul class="header-list">
        <li><a th:href="@{/index}">Join Game</a></li>
        <li><a th:href="@{/login}">Log in</a></li>
        <li><a th:href="@{/register}">Register</a></li>
        <li><a th:href="@{/aboutus}">About Us</a></li>
    </ul>
</div>

<!-- Sisu -->
<div id="txt_1">
    <form th:action="@{/create}" th:object="${createGameForm}" method="POST">
        <input class="questionTitle" type="text" th:field="*{question1}" required><br>
        <div class="grid2x2">
            <div class="grid-item">
                <label class="numeration">A</label>
                <input type="radio" id="correct_A" name="correct_A" value="A">
                <input class="input_values" id="answerA_1" value="Answer 1... " th:field="*{answer11}" required>

                <label class="radio">B</label>
                <input type="checkbox" id="correct_B" name="correct_B" value="C">
                <input class="input_values" id="answerB_1" value="Answer 2... " th:field="*{answer12}" required>
            </div>

            <div class="grid-item">

                <label class="numeration">C</label>
                <input type="radio" id="correct_C" name="correct_C" value="C">
                <input class="input_values" id="answerC_1" value="Answer 3... " th:field="*{answer13}" required>

                <label class="numeration">D</label>
                <input type="radio" id="correct_D" name="correct_D" value="D">
                <input class="input_values" id="answerD_1" value="Answer 4... " th:field="*{answer14}" required>

            </div>
        </div>
        <input value="Game Pin" th:field="*{gamePinCode}" required>
        <input type="submit" class="button_finish" value="Save"/>
    </form>

</div>

<div id="txt_2">
    <form th:action="@{/create}" th:object="${createGameForm}" method="POST">
        <input class="questionTitle" type="text" th:field="*{question2}"><br>
        <div class="grid2x2">
            <div class="grid-item">
                <label class="numeration">A</label>
                <input type="checkbox" value="A" th:field="*{answer21isTrue}">
                <input class="input_values" value="Answer 1... " th:field="*{answer21}">

                <label class="numeration">B</label>
                <input type="checkbox" value="C" th:field="*{answer22isTrue}">
                <input class="input_values" value="Answer 2... " th:field="*{answer22}">
            </div>
            <div class="grid-item">
                <label class="numeration">C</label>
                <input type="checkbox" value="C" th:field="*{answer23isTrue}">
                <input class="input_values" value="Answer 3... " th:field="*{answer23}">

                <label class="numeration">D</label>
                <input type="checkbox" value="D" th:field="*{answer24isTrue}">
                <input class="input_values" value="Answer 4... " th:field="*{answer24}">
            </div>
        </div>
        <input type="submit" class="button_finish" value="Save"/>
    </form>
</div>


</body>
</html>