<!DOCTYPE html>

<!--SEE HTML KLASS ON KÜSIMUSTE LOOMISE JAOKS (SIIA LEHELE SAAB AINULT SIIS KUI USER SISSE LOGITUD)-->

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>QuestionMark</title>
    <meta charset="utf-8">
    <meta name="google-signin-client_id"
          content="98722277799-94rtimab9cvdu8e2lgam273bvkgtmq06.apps.googleusercontent.com">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>

<div th:replace="fragments/header.html :: header"></div>

<div id="items">

    <form th:action="@{/create}" th:object="${createGameForm}" method="POST">
        <input class="gameName" type="text" th:placeholder="#{create.gameName}" th:field="*{gameName}" required><br><br>

        <!---------------->
        <!-- QUESTION 1 -->
        <!---------------->

        <div>
            <input class="questionTitle" type="text" th:placeholder="#{create.question}" th:field="*{question1}"
                   required><br>

            <div class="grid2x2">
                <div class="grid-item">
                    <label class="numeration">A</label>
                    <input type="radio" name="radioButtonGroup1" th:field="*{question1trueAnswer}" value="11">
                    <input class="input_values" th:placeholder="#{create.answer}" th:field="*{answer11}"
                           required>

                    <label class="numeration">B</label>
                    <input type="radio" name="radioButtonGroup1" th:field="*{question1trueAnswer}" value="12">
                    <input class="input_values" th:placeholder="#{create.answer}" th:field="*{answer12}"
                           required>
                </div>

                <div class="grid-item">
                    <label class="numeration">C</label>
                    <input type="radio" name="radioButtonGroup1" th:field="*{question1trueAnswer}" value="13">
                    <input class="input_values" th:placeholder="#{create.answer}" th:field="*{answer13}"
                           required>

                    <label class="numeration">D</label>
                    <input type="radio" name="radioButtonGroup1" th:field="*{question1trueAnswer}" value="14">
                    <input class="input_values" th:placeholder="#{create.answer}" th:field="*{answer14}"
                           required>
                </div>
            </div>
        </div>

        <!---------------->
        <!-- QUESTION 2 -->
        <!---------------->

        <div>

            <input class="questionTitle" type="text" th:placeholder="#{create.question}" th:field="*{question2}"
                   required><br>

            <div class="grid2x2">
                <div class="grid-item">
                    <label class="numeration">A</label>
                    <input type="radio" name="radioButtonGroup2" th:field="*{question2trueAnswer}" value="21">
                    <input class="input_values"  th:placeholder="#{create.answer}" th:field="*{answer21}"
                           required>

                    <label class="numeration">B</label>
                    <input type="radio" name="radioButtonGroup2" th:field="*{question2trueAnswer}" value="22">
                    <input class="input_values" th:placeholder="#{create.answer}" th:field="*{answer22}"
                           required>
                </div>

                <div class="grid-item">
                    <label class="numeration">C</label>
                    <input type="radio" name="radioButtonGroup2" th:field="*{question2trueAnswer}" value="23">
                    <input class="input_values" th:placeholder="#{create.answer}" th:field="*{answer23}"
                           required>

                    <label class="numeration">D</label>
                    <input type="radio" name="radioButtonGroup2" th:field="*{question2trueAnswer}" value="24">
                    <input class="input_values" th:placeholder="#{create.answer}" th:field="*{answer24}"
                           required>
                </div>
            </div>
        </div>
        <input type="submit" th:value="#{create.save}"/>
    </form>
</div>

</body>
</html>