<!DOCTYPE html>
<html>
<head>
	<title>QuestionMark</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>

<!-- Päis -->
<div class="tab">
	<li><a th:href="@{/joingame}">Join Game</a></li>
	<li><a th:href="@{/hostgame}">Host Game</a></li>
	<li><a th:href="@{/aboutus}">About Us</a></li>
</div>


<!-- Sisu -->
	<main>
		<p>Waiting on host to start game</p>
		<button><a href="question_page.html">Leht laadis ära</a></button>
	</main>	


</body>
</html>