<!DOCTYPE html>
<html>
<head>
	<title>QuestionMark</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>

<body>

<!-- Päis -->
	<nav>
		<li class="menu"><a href="join_game.html">Join Game</a></li>
		<li class="menu"><a href="host_game.html">Host Game</a></li>
		<li class="menu"><a href="about_us.html">About Us</a></li>
	</nav>


<!-- Sisu -->
	<main>
		<p>Waiting on host to start game</p>
		<button><a href="question_page.html">Leht laadis ära</a></button>
	</main>	


</body>
</html>