<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>QuestionMark</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>

<!-- Päis -->
<ul>
	<li><a th:href="@{/index}">Join Game</a></li>
	<li><a th:href="@{/hostgame}">Host Game</a></li>
	<li> <a th:href="@{/aboutus}">About Us</a></li>
</ul>



<!-- Sisu -->
	<main>
		<h3>Question1</h3>
		<form>
			<input type="text" value="Question title"><br>

			<p>A</p>
			<textarea name="message" rows="10" cols="30">
				Answer
			</textarea><br>

			<p>B</p>
			<textarea name="message" rows="10" cols="30">
				Answer
			</textarea><br>

			<p>C</p>
			<textarea name="message" rows="10" cols="30">
				Answer
			</textarea><br>

			<p>D</p>
			<textarea name="message" rows="10" cols="30">
				Answer
			</textarea><br>

			<p>Tick the correct ones</p>
			<label><input type="checkbox" >A</label>
			<label><input type="checkbox" >B</label>
			<label><input type="checkbox" >C</label>
			<label><input type="checkbox" >D</label>


		</form>

		<button><a href="user_page.html">Delete</a></button>
		<button><a href="waiting_room.html">Finish</a></button>

	</main>	


</body>
</html>