<!DOCTYPE html>
<html>
<head>
	<title>QuestionMark</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>

<body>

<!-- Päis -->
	<nav>
		<li class="menu"><a href="join_game.html">Join Game</a></li>
		<li class="menu"><a href="host_game.html">Host Game</a></li>
		<li class="menu"><a href="about_us.html">About Us</a></li>
	</nav>


<!-- Sisu -->
	<main>
		<h3>Question1</h3>
		<form>
			<input type="text" value="Guestion title"><br>

			<p>A</p>
			<textarea name="message" rows="10" cols="30">
				Answer
			</textarea><br>

			<p>B</p>
			<textarea name="message" rows="10" cols="30">
				Answer
			</textarea><br>

			<p>C</p>
			<textarea name="message" rows="10" cols="30">
				Answer
			</textarea><br>

			<p>D</p>
			<textarea name="message" rows="10" cols="30">
				Answer
			</textarea><br>

			<p>Tick the correct ones</p>
			<label><input type="checkbox" >A</label>
			<label><input type="checkbox" >B</label>
			<label><input type="checkbox" >C</label>
			<label><input type="checkbox" >D</label>


		</form>

		<button><a href="user_page.html">Delete</a></button>
		<button><a href="waiting_room.html">Finish</a></button>

	</main>	


</body>
</html>