<!DOCTYPE html>
<html>
<head>
	<title>QuestionMark</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>

<!-- Päis -->
<div class="tab">
	<li><a th:href="@{/joingame}">Join Game</a></li>
	<li><a th:href="@{/hostgame}">Host Game</a></li>
	<li><a th:href="@{/aboutus}">About Us</a></li>
</div>


<!-- Sisu -->
	<main>
		<div>
	  		<h3>You must be logged in to create and host games</h3>
	  		<div class="login-row">

  				<div class="login-column">
  					<h4>Already have an account?</h4>
  					<form>
						<input type="text" value="Username"><br>
						<input type="password" value="Password"><br>
						<button><a href="user_page.html">Log in</a></button>
					</form>

  				</div>

  	<!-- Register -->
  				<div class="login-column">
  					<h4>Not registered yet?</h4>
  					<form>
						<input type="text" value="Username"><br>
						<input type="text" value="Password"><br>
						<input type="text" value="Confirm password"><br>
						<button><a href="user_page.html">Register</a></button>
					</form>
				</div>
			</div>
		</div>
	</main>	


</body>
</html>