<!DOCTYPE html>
<html>
<head>
	<title>QuestionMark</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>

<body>

<!-- Päis -->
	<nav>
		<li class="menu"><a href="join_game.html">Join Game</a></li>
		<li class="menu"><a href="host_game.html">Host Game</a></li>
		<li class="menu"><a href="about_us.html">About Us</a></li>
	</nav>


<!-- Sisu -->
	<main>
		<div">
	  		<h3>You must be logged in to create and host games</h3>
	  		<div class="login-row">

  				<div class="login-column">
  					<h4>Already have an account?</h4>
  					<form>
						<input type="text" value="Username"><br>
						<input type="password" value="Password"><br>
						<button><a href="user_page.html">Log in</a></button>
					</form>

  				</div>

  	<!-- Register -->
  				<div class="login-column">
  					<h4>Not registered yet?</h4>
  					<form>
						<input type="text" value="Username"><br>
						<input type="text" value="Password"><br>
						<input type="text" value="Confirm password"><br>
						<button><a href="user_page.html">Register</a></button>
					</form>
				</div>
			</div>
		</div>
	</main>	


</body>
</html>