<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>QuestionMark</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>


<body>

<!-- Päis -->
<div class="header">
    <h2>QuestionMark</h2>
    <ul class="header-list">
        <li><a th:href="@{/index}">Join Game</a></li>
        <li><a th:href="@{/login}">Log in</a></li>
        <li><a th:href="@{/register}">Register</a></li>
        <li><a th:href="@{/aboutus}">About Us</a></li>
    </ul>
</div>

<!-- Sisu -->
<div class="pagecontent">

    <div class="Aligner">
        <div class="Aligner-item Aligner-item--top"></div>
        <div class="Aligner-item">
            <div class="join">
                <h3 id="title">Join a game</h3>
                <form>
                    <input value="Display Name"><br>
                </form>
                <form>
                    <input value="Game Pin"><br>
                    <input type="submit" value="Join">
                </form>
            </div>
        </div>
        <div class="Aligner-item Aligner-item--bottom"></div>

    </div>
    <a th:href="@{/testdatabase}">Testi andmebaasi töötamist siit</a>

</div>
</div>
</body>
</html>