<!DOCTYPE html>
<html>
<head>
	<title>QuestionMark</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>

<body>

<!-- Päis -->
	<nav>
		<li class="menu"><a href="join_game.html">Join Game</a></li>
		<li class="menu"><a href="host_game.html">Host Game</a></li>
		<li class="menu"><a href="about_us.html">About Us</a></li>
	</nav>


<!-- Sisu -->
	<main>
		<form>
			<input type="text" value="Enter game code here...">
			<button><a href="game_loading_page.html"">Join Game</a></button>
		</form>

	</main>	


</body>
</html>