<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Log in</title>
    <meta charset="utf-8">
    <meta name="google-signin-client_id"
          content="185595848954-2nuh8dcrnajbdu9vng9dgr84sd9h4d99.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/api:client.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>


<body>
<div th:replace="fragments/header.html :: header"></div>

<div class="login">

    <div class="pagecontent">

        <div class="row">
            <!-- Login -->
            <div class="">
                <div class="login-section">
                    <label class="uus-conto" th:text="#{login.haveaccount}"></label>
                </div>
                <div class="login-section">
                    <p class="login-type" th:if="${param.error}" th:text="#{login.error}"></p>
                    <p class="login-type" th:if="${param.logout}" th:text="#{login.logout}"></p>
                </div>
                <form th:action="@{/login}" th:object="${userForm}" method="POST">
                    <div class="login-section">
                        <label class="login-type" th:text="#{register.username}"></label>
                        <div class="login-section-buttons">
                            <input class="input_value_desing" type="text" th:field="*{username}"/>
                        </div>
                    </div>

                    <div class="login-section">

                        <label class="login-type" th:text="#{register.password}"></label>

                        <div class="login-section-buttons">
                            <input class="input_value_desing" type="password" th:field="*{password}">
                        </div>
                    </div>
                    <div class="login-section">
                        <label class="login-type"></label>
                        <div class="login-section-buttons">
                            <input class="register_submit_button" type="submit" value="Log in"/>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>

    <div class="login-section">
        <label class="login-type">Google Gmail</label>

        <div class="login-section-buttons" id="gSignInWrapper">
            <div id="customBtn" class="customGPlusSignIn">
                <span class="buttonText">Google</span>
            </div>
        </div>

    </div>
</div>
<script th:src="@{/JavaScript/log_in.js}"></script>
</body>
</html>