<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Log in</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>


<body>

<!-- Päis -->
<div class="header">
    <h2>QuestionMark</h2>
    <ul class="header-list">
        <li><a th:href="@{/index}" th:text="#{header.join}"></a></li>
        <li><a th:href="@{/login}" th:text="#{header.login}"></a></li>
        <li><a th:href="@{/register}" th:text="#{header.register}"></a></li>
        <li><a th:href="@{/aboutus}" th:text="#{header.about}"></a></li>
    </ul>
</div>

<!-- Sisu -->
<div class="pagecontent">

    <div class="row">
        <!-- Login -->
        <div class="">
            <h3 th:text="#{login.haveaccount}"></h3>
            <form th:action="@{/login}" th:object="${userForm}" method="POST">
                <p>Username: <input type="text" th:field="*{username}"/></p>
                <p>Password: <input type="password" th:field="*{password}"></p>
                <input type="submit" value="Log in"/>
            </form>
        </div>
    </div>
</div>

</body>
</html>