<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Log in</title>
    <meta charset="utf-8">
    <meta name="google-signin-client_id"
          content="185595848954-2nuh8dcrnajbdu9vng9dgr84sd9h4d99.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript">
        function onSignIn(googleUser) {
            // window.location.href='success.jsp';
            var profile = googleUser.getBasicProfile();
            var imagurl = profile.getImageUrl();
            var name = profile.getName();
            var email = profile.getEmail();
            document.getElementById("myImg").src = imagurl;
            document.getElementById("name").innerHTML = name;
            document.getElementById("myP").style.visibility = "hidden";
            document.getElementById("status").innerHTML = 'Welcome ' + name + '!<a href="create">Create Game</a></p>'


        }


        function statusChangeCallback(response) {
            console.log('statusChangeCallback');
            console.log(response);

            if (response.status === 'connected') {
                // Logged into your app and Facebook.
                testAPI();
            } else {
                // The person is not logged into your app or we are unable to tell.
                document.getElementById('status').innerHTML = 'Please log ' +
                    'into this app.';
            }
        }

        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        }

        window.fbAsyncInit = function () {
            FB.init({
                appId: '1175024542674374',
                cookie: true,  // enable cookies to allow the server to access
                               // the session
                xfbml: true,  // parse social plugins on this page
                version: 'v2.8' // use graph api version 2.8
            });

            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });

        };

        // Load the SDK asynchronously
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        // Here we run a very simple test of the Graph API after login is
        // successful.  See statusChangeCallback() for when this call is made.
        function testAPI() {
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function (response) {
                console.log('Successful login for: ' + response.name);
                document.getElementById('status').innerHTML =
                    'Thanks for logging in, ' + response.name + '!';
                window.location.href = "http://localhost:8081/create"
            });
        }


    </script>
</head>


<body>
<div th:replace="fragments/header.html :: header"></div>

<div class="login">

    <div class="pagecontent">

        <div class="row">
            <!-- Login -->
            <div class="">
                <div class="login-section">
                    <label class="uus-conto" th:text="#{login.haveaccount}"></label>
                </div>
                <div class="login-section">
                    <p class="login-type" th:if="${param.error}" th:text="#{login.error}"></p>
                    <p class="login-type" th:if="${param.logout}" th:text="#{login.logout}"></p>
                </div>
                <form th:action="@{/login}" th:object="${userForm}" method="POST">
                    <div class="login-section">
                        <label class="login-type" th:text="#{register.username}"></label>
                        <div class="login-section-buttons">
                            <input class="input_value_desing" type="text" th:field="*{username}"/>
                        </div>
                    </div>

                    <div class="login-section">

                        <label class="login-type" th:text="#{register.password}"></label>

                        <div class="login-section-buttons">
                            <input class="input_value_desing" type="password" th:field="*{password}">
                        </div>
                    </div>
                    <div class="login-section">
                        <label class="login-type"></label>
                        <div class="login-section-buttons">
                            <input class="register_submit_button" type="submit" value="Log in"/>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>

    <div class="login-section">
        <label class="login-type">FaceBook</label>

        <div class="login-section-buttons">

            <div class="loginBtn loginBtn--facebook">
                <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
            </div>
        </div>
    </div>

    <div class="login-section">
        <label class="login-type">Google Gmail</label>

        <div class="login-section-buttons">
            <div class="loginBtn loginBtn--google">
                <div class="g-signin2" data-onsuccess="onSignIn"></div>
            </div>
        </div>

    </div>
</div>

</body>
</html>