<!DOCTYPE html>
<html>
<head>
	<title>QuestionMark</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>

<body>

<!-- Päis -->
	<nav>
		<li class="menu"><a href="join_game.html">Join Game</a></li>
		<li class="menu"><a href="host_game.html">Host Game</a></li>
		<li class="menu"><a href="about_us.html">About Us</a></li>
	</nav>


<!-- Sisu -->
	<main>
		
	  	<h3>Congratulation, %player1%!</h3>
	  	<form>
			<select size="10">
  				<option value="#">%Player 1  2000%</option>
  				<option value="#">%Player 2  1000%</option>
  				<option value="#">%Player 3  -500%</option>
 	 			<option value="#">%Player 4  -1000%</option>
			</select>
		</form>

		<button><a href="join_game.html">Play new game</a></button>
	</main>	



</body>
</html>