<!DOCTYPE html>
<html>
<head>
	<title>QuestionMark</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>

<!-- Päis -->
<div class="tab">
	<li><a th:href="@{/joingame}">Join Game</a></li>
	<li><a th:href="@{/hostgame}">Host Game</a></li>
	<li><a th:href="@{/aboutus}">About Us</a></li>
</div>


<!-- Sisu -->
	<main>
		<h3>%Question goes here%</h3>

		<img src="#" alt="pilt.jpg">

		<div class="question-row">
			<div class="question-column">
				<button class="question-button-1"><a href="#">Valik 1</a></button><br>
				<button class="question-button-2"><a href="#">Valik 2</a></button>
			</div>

			<div class="question-column">
				<button class="question-button-3"><a href="#">Valik 3</a></button><br>
				<button class="question-button-4"><a href="#">Valik 4</a></button>
			</div>
		</div>


		<button><a href="player_conclusion_page.html">Aeg sai otsa</a></button>
	</main>	


</body>
</html>