<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Register</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body>
<div th:replace="fragments/header.html :: header"></div>

<div class="login">

    <div class="">

        <div class="login-section">

            <label class="new-account" th:text="#{register.haveaccount}"></label>
        </div>
        <div class="login-section">

            <p th:if="${param.passworderror}" th:text="#{register.passwordsDoNotMatch}"></p>
            <p th:if="${param.usernameerror}" th:text="#{register.usernameExists}"></p>
        </div>
        <form th:action="@{/register}" th:object="${userForm}" method="POST">

            <div class="login-section">

                <label class="login-type" th:text="#{register.username}"></label>
                <div class="login-section-buttons">
                    <input class="input_value_design" type="text" th:field="*{username}" id="registerUsername">
                </div>
            </div>

            <div class="login-section">
                <label class="login-type" th:text="#{register.password}"></label>
                <div class="login-section-buttons">
                    <input class="input_value_design" type="password" th:field="*{password}" id="registerPassword1">
                </div>
            </div>
            <div class="login-section">
                <label class="login-type" th:text="#{register.repeatpassword}"></label>
                <div class="login-section-buttons">
                    <input class="input_value_design" type="password" th:field="*{passwordRepeat}" id="registerPassword2">
                </div>
            </div>
            <div class="login-section">
                <div class="login-section-buttons">

                    <input th:class="register_submit_button" class="" type="submit" value="Register" id="registerSubmit"/>
                </div>
            </div>
        </form>

    </div>

</div>


<script th:src="@{/JavaScript/header_highlighter.js}"></script>

</body>

</html>