<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>


<body>

<!-- Päis -->
<div class="header">
    <h2>QuestionMark</h2>
    <ul id="header-list">
        <li><a th:href="@{/}" th:text="#{header.join}" class="header-link"></a></li>
        <li><a th:href="@{/login}" th:text="#{header.login}" class="header-link"></a></li>
        <li><a th:href="@{/register}" th:text="#{header.register}" class="header-link"></a></li>
        <li><a th:href="@{/aboutus}" th:text="#{header.about}" class="header-link"></a></li>
    </ul>
</div>

<!-- Sisu -->
<div class="pagecontent">
    <div class="">
        <!-- Login -->
        <div class="">
            <h3 th:text="#{register.haveaccount}"></h3>
            <p th:if="${param.passworderror}" th:text="#{register.passwordsDoNotMatch}"></p>
            <p th:if="${param.usernameerror}" th:text="#{register.usernameExists}"></p>
            <form th:action="@{/register}" th:object="${userForm}" method="POST">
                <p th:text="#{register.username}"></p><input type="text" th:field="*{username}"/>
                <p th:text="#{register.password}"></p><input type="password" th:field="*{password}">
                <p th:text="#{register.repeatpassword}"></p><input type="password" th:field="*{passwordRepeat}">
                <input type="submit" value="Register"/>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/JavaScript/header_highlighter.js}"></script>
</body>
</html>