<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Your account</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>
<div th:replace="fragments/header.html :: header"></div>
<div class="pagecontent">
    <h3>Welcome, %username%!</h3>
    <div class="login-row">

        <div class="column" id="games">
            <h4>Games you have previously created</h4>
            <form>
                <select size="10">
                    <option value="#">%Game 1%</option>
                    <option value="#">%Game 2%</option>
                    <option value="#">%Game 3%</option>
                    <option value="#">%Game 4%</option>
                </select><br>
                <button><a href="game_creation_page.html">Edit</a></button>
                <button><a href="waiting_room.html">Host</a></button>
            </form>
        </div>
        <div class="column" id="new_game">
            <h4>Create a new game</h4>
            <form>
                <input type="text" value="Name"><br>
                <p>Number of guestions</p>
                <input type="number" min="0" max="10"><br>
                <button><a th:href="@{/create}">Create</a></button>
            </form>
        </div>
    </div>
</div>


</body>
</html>