<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="image-container set-full-height"
	style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvYQa7lzwPQOLipoXKOMxKttdqv06ae3AqXuHiH9vfN4R0Hq8W')">
	<!------ Include the above in your HEAD tag ---------->

	<!doctype html>
	<html lang="en">
<head>
<meta charset="utf-8" />
<!--     Fonts and icons     -->

</head>

<link rel="stylesheet" th:href="@{/css/style.css}">
<body>
	<div th:fragment="navbar">
		<nav class="navbar navbar-default">

			<div class="container">

				<div class="navbar-header">

					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar-collapse-2">
					</button>

				</div>

				<div class="collapse navbar-collapse" id="navbar-collapse-2">

					<ul class="nav navbar-nav navbar-right">

						<li><a th:href="@{/}">StarBook</a></li>
						<li><a th:href="@{/about}">About Us</a></li>
						<li><a th:href="@{/offers/add}">Add offer</a></li>

					</ul>
				</div>

			</div>
	</div>

	</nav>
	<div class="content">
		<div class="container">

			<div class="row">
				<div class="navbar navbar-default navbar-fixed-bottom">
					<div class="container">

						<p class="navbar-text pull-left">© 2018 StarBook project</p>

					</div>

				</div>
				<div
					class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb30 text-center">
					<h1 style="color: white;">
						<b>Kes me oleme ? </b>
					</h1>
				</div>
			</div>
			<div class="row">

				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb30">
					<div class="tour-booking-form">
						
							<div class="row">
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
									<h4 style="color: white;" class="tour-form-title">StarBook project</h4>
								</div>

								<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
									<div class="row">
										<div class="form-group">
										<h4 style="color: white;">Projekti kirjeldus : elamispindala otsimine</h4>
<h4 style="color: white;">Kasutatavad kodeerimiskeeled :  </h4>
<h5 style="color: white;">1.            Kliendipoolne osa: HTML, CSS, Java  </h5>
<h5 style="color: white;">2.            Serveripoolne osa: PHP, SQL</h5>
										</div>
									</div>
								</div>
								<div class="col-xl-6 col-lg-6 col-sm-12 col-12">
									<div class="form-group">

									</div>
								</div>

								<div class="col-xl-6 col-lg-6 col-sm-12 col-12">
									<div class="form-group">
										
										<div class="input-group">
											
										</div>
									</div>
								</div>


								<div class="col-xl-6 col-lg-6 col-sm-12 col-12">
									<div class="form-group">
										
										</div>
									</div>
								
								<div class="col-xl-6 col-lg-6 col-sm-12 col-12">

									<div class="form-group">
										
									</div>
								</div>
							
							</div>
							</div>
					</div>
					<b style="color: white;">SERGEI EENSALU</b>
					
				</div>

			</div>
		</div>

	</div>
</div>

</body>

</html>
