<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xml:lang="en" lang="en">

<head th:include="layout :: htmlhead" th:with="title='Add Offer | Search4Work'"></head>



<body>

<div th:include="layout :: navbar">(navbar)</div>



<div class="container container-main">

    <div class="row">

        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

            <form method="post" id="fileForm" role="form">

                <div th:if="${success != null}" class="alert alert-success" role="alert" th:text="${success}"></div>

                <div th:if="${error != null}" class="alert alert-danger" role="alert" th:text="${error}"></div>



                <h2>Add new offer</h2>

                <hr>

                <div class="form-group">

                    <input required type="text" name="title" class="form-control input-lg" placeholder="Title">

                </div>

                <div class="form-group">

                    <input required type="tel" name="phone" class="form-control input-lg" placeholder="Phone number">

                </div>

                <div class="form-group">

                    <input required type="text" name="address" class="form-control input-lg" placeholder="Address">

                </div>


                <div class="form-group">

                    <textarea class="form-control description" name="description" placeholder="Describe here..."></textarea>

                </div>



                <div class="form-group">

                    <label>Upload Image</label>

                    <div class="input-group">

                        <span class="input-group-btn">

                            <span class="btn btn-default btn-file">

                            Browse… <input type="file" accept="image/png, image/jpeg, image/gif" id="imgInp">

                            </span>

                        </span>

                        <input id='urlname' type="text" class="form-control" readonly>

                    </div>

                </div>



                <input type="submit" value="Submit" class="btn btn-primary btn-block btn-lg">

            </form>

        </div>

    </div>

</div>



<div th:include="layout :: footer" id="footer">(footer)</div>

<script th:src="@{/js/addOffer.js}"></script>

</body>

</html>