<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xml:lang="en" lang="en">
<head th:fragment="htmlhead">
        <meta charset="utf-8"/>


        <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1 th:text="'Hello, ' + ${name} + '!'"></h1>
<p>LOGI SISSE PAGE</p>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script type="javascript" src="js/jquery/jquery-3.2.1.slim.min.js"></script>
<script type="javascript" src="js/popper/popper.min.js"></script>
<script type="javascript" src="js/bootstrap/bootstrap.min.js"></script>

</body>
</html>