<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="image-container set-full-height"
	style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvYQa7lzwPQOLipoXKOMxKttdqv06ae3AqXuHiH9vfN4R0Hq8W')">
<!------ Include the above in your HEAD tag ---------->

<!doctype html>
	<html lang="en">
<head>
<meta charset="utf-8" />
<!--     Fonts and icons     -->

</head>

<link rel="stylesheet" th:href="@{/css/style.css}">
<body>

	<nav class="navbar navbar-default">

		<div class="container">


			<div class="collapse navbar-collapse" id="navbar-collapse-2">

				<ul class="nav navbar-nav navbar-right">

					<li><a th:href="@{/}">StarBook</a></li>
					<li><a th:href="@{/about}">About Us</a></li>
					<li><a th:href="@{/offers/add}">Add offer</a></li>

				</ul>
			</div>

		</div>


	</nav>
	<div class="content">
		<div class="container">


			<div class="navbar navbar-default navbar-fixed-bottom">
				<div class="container">

					<p class="navbar-text pull-left">© 2018 StarBook project</p>

				</div>

			</div>
			<div
				class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb30 text-center">
				<h1 style="color: white;">
				<b>Lisa pakkumisi</b>
			</h1>
		</div>







		<h4 style="color: white;" class="tour-form-title">Lisamine</h4>



		<h5 style="font-size: 25px; color: #ccc; margin-top: 30px;">Riik</h5>
		<input id="country" type="text" name="riik"
			placeholder="sisesta riiki" class="form-control">

		<h5 style="font-size: 25px; color: #ccc; margin-top: 30px;">Rating</h5>
		<select id="rating" class="form-control">

			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		</select>
		<div class="go-right">

			<h5 style="font-size: 25px; color: #ccc; margin-top: 30px;">Linn</h5>
			<label for="city"></label> <input id="city" type="text" name="linn"
				placeholder="sisesta linn" class="form-control">


			<h5 style="font-size: 25px; color: #ccc; margin-top: 30px;">Hind</h5>
			<label for="price"></label> <input id="price" type="text"
				placeholder="sisesta hinna" class="form-control">

		</div>
		<div>

			<h5 style="font-size: 25px; color: #ccc; margin-top: 30px;">Numbers
				of bed:</h5>
			<select id="beds" class="form-control">

				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
				<option>6</option>
				<option>7</option>
				<option>8</option>
				<option>9</option>
			</select>
		</div>
		<div>
			<a th:href="@{/offers}" type="submit" class="btn btn-lg btn-primary">Lisa<i
				class="fas fa-arrow-circle-down"></i></a>

		</div>







	</div>


</div>
<b style="color: white;">SERGEI EENSALU</b>

<script type="text/javascript" src="/js/test/script.js"></script>

<script>
	// Example starter JavaScript for disabling form submissions if there are invalid fields

	(function() {

		'use strict';

		window.addEventListener('load',
				function() {

					// Fetch all the forms we want to apply custom Bootstrap validation styles to

					var forms = document
							.getElementsByClassName('needs-validation');

					// Loop over them and prevent submission

					var validation = Array.prototype.filter.call(forms,
							function(form) {

								form.addEventListener('submit', function(
										event) {

									if (form.checkValidity() === false) {

										event.preventDefault();

										event.stopPropagation();

									}

									form.classList.add('was-validated');

								}, false);

							});

				}, false);

	})();
</script>


</body>

	</html>
</div>
