<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="image-container set-full-height"
	style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvYQa7lzwPQOLipoXKOMxKttdqv06ae3AqXuHiH9vfN4R0Hq8W')">
	<!------ Include the above in your HEAD tag ---------->

	<!doctype html>
	<html lang="en">
<head>
<meta charset="utf-8" />
<!--     Fonts and icons     -->

</head>

<link rel="stylesheet" th:href="@{/css/style.css}">
<body>

	<nav class="navbar navbar-default">

		<div class="container">


			<div class="collapse navbar-collapse" id="navbar-collapse-2">

				<ul class="nav navbar-nav navbar-right">

					<li><a th:href="@{/}">StarBook</a></li>
					<li><a th:href="@{/about}">About Us</a></li>
					<li><a th:href="@{/offers/add}">Add offer</a></li>

				</ul>
			</div>

		</div>


	</nav>
	<div class="content">
		<div class="container">

			
				<div class="navbar navbar-default navbar-fixed-bottom">
					<div class="container">

						<p class="navbar-text pull-left">© 2018 StarBook project</p>

					</div>

				</div>
				<div
					class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb30 text-center">
					<h1 style="color: white;">
						<b>Vaata, mis me võime pakkuda Sulle!</b>
						

<div class="row" th:each="offer : ${offers}">
</div>
					</h1>
				</div>
			



			


				<h4 style="color: white;" class="tour-form-title">Vali sobiv pakkumine nimekirjast</h4>



				<form class="go-bottom">

				</form>

				<form class="go-right">



</form>
				
			
			




		</div>
		

	</div>
	<b style="color: white;">SERGEI EENSALU</b>
</div>


</body>
</html>
